<div class="example">
  <%= form_for [:admin, @article] do |f| %>
    <%= render 'errors/form_error', model: @article %>
    <div class="grid">
      <%= f.label :title %>
      <div class="input-control text full-size">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="grid">
      <%= f.label :category %>
      <div class="input-control select">
        <%= f.select :category_id, categories_for_select %>
      </div>
    </div>
    <div class="grid">
      <%= f.label :body %>
      <div class="input-control textarea full-size">
        <%= f.text_area :body %>
      </div>
    </div>
    <div class="grid">
      <%= f.label :tags %>
      <div class="input-control text full-size">
        <%= f.text_field :tag_list, value: @article.tag_list.join(",") %>
      </div>
    </div>
    <div class="grid">
      <%= f.label :published %>
      <%= f.check_box :published %>
    </div>
    <div class="grid">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<script>
$(function() {
  $("#article_tag_list").tagsInput({
    width: 'auto',
    height: 'auto'
  });
  editor = new Simditor({
    textarea: $("#article_body"),
  });
  //var converter = Markdown.getSanitizingConverter();
  //var editor = new Markdown.Editor(converter);
  //editor.run();
});
</script>
