<% breadcrumb :articles %>
<div class='articles'>
  <div class="content">
    <% if @articles.any? %>
      <% @articles.each do |article| %>
        <div class="example"> <!-- data-text="blockquote" -->
          <blockquote>
            <p>
            <%= link_to article.title, article, "data-no-turbolink" => true %>
            </p>
            <small>
              <span class="mif-user"></span>
              <%= article.author.try(:email) %>&nbsp;
              <%= t("article.published_at", string: time_ago_in_words(article.created_at)) %>&nbsp;
              <% if article.category %>
                <span class="mif-tree"></span> 
                <%= link_to article.category.name, articles_path(category_id: article.category) %>&nbsp;
              <% end %>
              <% if article.tags.present? %>
                <span class="mif-tags"></span> 
                <%= article.tags.map { |ta| link_to ta.name, articles_path(tag: ta.name) }.join("&nbsp;").html_safe %>
              <% end %>
            </small>
          </blockquote>
          <hr class='thin'></hr>
        </div>
      <% end %>
    <% else %>
      <div class="example" style="text-align: center">
        Not Found!
      </div>
    <% end %>
  </div>
</div>

<%= paginate @articles, outer_window: 3 %>
