<% breadcrumb :articles %>
<div class='articles'>
  <div class="content">
    <% if @articles.any? %>
      <% @articles.each do |article| %>
        <div class="example"> <!-- data-text="blockquote" -->
          <blockquote>
            <p>
            <%= link_to article.title, article %>
            </p>
            <small>
              <%= t("article.published_at", string: time_ago_in_words(article.created_at)) %>
              <%= t('activerecord.models.category') %>: <%= article.try(:category).try(:name) %>
            </small>
          </blockquote>
          <hr class='thin'></hr>
        </div>
      <% end %>
    <% else %>
      <div class="example" style="text-align: center">
        Not Found!
      </div>
    <% end %>
  </div>
</div>

<%= paginate @articles, outer_window: 3 %>
