<% breadcrumb :article, @article %>
<% content_for :assets do %>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
<% end %>
<div class="example">
  <div class="grid">
    <div class="row">
      <div class="cell">
        <ul class="step-list">
          <h3><%= @article.title %></h3>
          <h4 class="no-margin-top">
            <blockquote>
              <small>
                <span class="mif-user"></span>
                <%= t("article.published_at", string: time_ago_in_words(@article.created_at)) %>
                <span class="mif-tags"></span> 
                <%= @article.tags.map { |ta| link_to ta.name, articles_path(tag: ta.name) }.join("&nbsp;").html_safe %>
              </small>
            </blockquote>
          </h4>
          <hr class="bg-red"></hr>
          <div>
            <h4>
              <%= sanitize(@article.body) %>
            </h4>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- 多说最近访客 start -->
<ul class="ds-recent-visitors"></ul>
<!-- 多说最近访客 end -->
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="<%= @article.id %>" data-title="<%= @article.title %>" data-url="<%= article_url(@article) %>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"tribe"};
(function() {
 var ds = document.createElement('script');
 ds.type = 'text/javascript';ds.async = true;
 ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
 ds.charset = 'UTF-8';
 (document.getElementsByTagName('head')[0] 
  || document.getElementsByTagName('body')[0]).appendChild(ds);
 })();
</script>
<!-- 多说公共JS代码 end -->


