<% breadcrumb :article, @article %>
<div class="example">
  <div class="grid">
    <div class="row">
      <div class="cell">
        <h5><%= @article.category.try(:name) %></h5>
        <ul class="step-list">
          <h3><%= @article.title %></h3>
          <h4 class="no-margin-top">
            <blockquote>
              <small>
                <span class="mif-user"></span>
                <%= t("article.published_at", string: time_ago_in_words(@article.created_at)) %>
                <span class="mif-tags"></span> 
                <%= @article.tags.map { |ta| link_to ta.name, articles_path(tag: ta.name) }.join("&nbsp;").html_safe %>
              </small>
            </blockquote>
          </h4>
          <hr class="bg-red"></hr>
          <div>
            <h4>
              <%= sanitize(@article.body) %>
            </h4>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
