<% breadcrumb :tags %>

<div class="example">
  <div class="grid no-margin-top">
    <% if all_tags.any? %>
      <% all_tags.each_slice(4) do |tags| %>
        <div class="row cells4">
          <% tags.each do |ta| %>
            <% next if ta.nil? %>
            <div class="cell">
              <% color = tag_color(ta) %>
              <a href="<%= articles_path(tag: ta.name) %>" class="button <%= color %> block-shadow-<%= color %> text-shadow"><%= ta.name %>(<%= articles_count_of_tag(ta) %>)</a>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div style='text-align: center'>No Data Found.</div>
    <% end %>
  </div>
</div>
