<div class='example'>
  <h2>Log in</h2>

  <div class="row cell">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='cell'>
      <div class="input-control modern text iconic">
        <%= f.email_field :email, autofocus: true %>
        <span class="label">Your Email</span>
        <span class="informer">Please input your login or email</span>
        <span class="placeholder">Input login</span>
        <span class="icon mif-user"></span>
      </div>
    </div>

    <div class="cell">
      <div class="input-control modern password iconic" data-role='input'>
        <%= f.password_field :password, autocomplete: "off" %>
        <span class="label">Your password</span>
        <span class="informer">Please enter password</span>
        <span class="icon mif-lock"></span>
        <span class="placeholder">Input password</span>
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="cell">
      <label class="switch-original">
        <input type='checkbox' name='user[remember_me]' />
        <%= f.label :remember_me %>
        <span class="check"></span>
      </label>
    </div>
  <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
