<header class="margin20 no-margin-left no-margin-right">
  <div class="clear-float">
    <div class="place-right">
      <form action="<%= articles_path %>">
        <div class="input-control text margin20" style="width: 300px;">
          <input type="text" name="q" value="<%= params[:q] %>" placeholder="">
          <button class="button"><span class="mif-search"></span></button>
        </div>
      </form>
    </div>
    <a class='place-left' href='/' title=''>
      <h1><%= t('site.name') %></h1>
    </a>
  </div>

  <div class="main-menu-wrapper">
    <ul class='horizontal-menu' style='margin-left: -20px;'>
      <li><a href="<%= articles_path %>"><%= t('site.articles') %></a><li>
      <li><a href="<%= categories_path %>"><%= t('site.categories') %></a><li>
      <li><a href="<%= tags_path %>"><%= t('site.tags') %></a><li>
      <li><a href="<%= archive_path %>"><%= t('site.archives') %></a><li>
      <li><a href="<%= album_path %>"><%= t('site.albums') %></a><li>
      <li class='place-right'>
      <a href='#' class='dropdown-toggle'><%= t('site.multi_languages') %></a>
        <ul class='d-menu place-right' data-role='dropdown'>
          <li><a href='<%= locale_path(locale: :'zh-CN') %>'><%= t('site.chinese') %></a>
          <li><a href='<%= locale_path(locale: :ja) %>'><%= t('site.japanese') %></a>
        </ul>
      </li>
    </ul>
  </div>
</header>
