<header class="margin20 no-margin-left no-margin-right">
  <div class="clear-float">
    <div class="place-right">
      <form>
        <div class="input-control text margin20" style="width: 300px;">
          <input type="text" name="q" placeholder="">
          <button class="button"><span class="mif-search"></span></button>
        </div>
      </form>
    </div>
    <a class='place-left' href='/' title=''>
      <h1>斯文部落</h1>
    </a>
  </div>

  <div class="main-menu-wrapper">
    <ul class='horizontal-menu' style='margin-left: -20px;'>
      <li><a href="<%= articles_path %>">文章</a><li>
      <li><a href="<%= categories_path %>">分类</a><li>
      <li><a href="<%= tags_welcome_index_path %>">标签</a><li>
      <li><a href="<%= archive_welcome_index_path %>">归档</a><li>
      <li><a href="#">照片</a><li>
      <li class='place-right'>
        <a href='#' class='dropdown-toggle'>多语言</a>
        <ul class='d-menu place-right' data-role='dropdown'>
          <li><a href='<%= locale_path(locale: :zh_CN) %>'>中文简体</a>
          <li><a href='<%= locale_path(locale: :jp) %>'>日语</a>
        </ul>
      </li>
    </ul>
  </div>
</header>
